/*
  ユーザーカスタムスタイルシートのサンプル
  チャット画面の背景画像を設定する
*/

:root {
    /* 背景画像の設定 */
    --dark-background-image: url("doc/wallpaper/moon-and-stars.jpg");
    --dark-background-image-opacity: 1.0;

    /* 画面要素の透過設定 */
    --dark-container-bgcolor: transparent;
    --dark-header-bgcolor: transparent;
    --dark-chat-messages-bgcolor: transparent;
    --dark-header-color: ivory; /* タイトル文字色 */

    /* チャットメッセージの吹き出しの設定 */
    --dark-message-text-bgcolor: rgba(255, 255, 255, 0.7);
    --dark-message-text-color: #222;
    --dark-message-text-border-radius: 10px;  

    /* WelCome */
    --dark-welcome-message-color: silver;
}
