:root {
    /****************************************
     * light mode
     ****************************************/
    /* ボディ */
    --body-bgcolor: white;
    /* コンテナ */
    --container-bgcolor: transparent;
    --background-image: none;
    --background-image-opacity: 1.0;
    /* ヘッダ部 */
    --header-bgcolor: transparent;
    --header-color: unset;
    /* コンテンツブロック */
    --chat-messages-bgcolor: #f5f5f5;
    --chat-messages-color: unset;
    /* WelCome */
    --welcome-title-color: unset;
    --welcome-message-color: dimgray;
    /* キャラ名 */
    --speaker-name-text-shadow: none;
    --speaker-name-glowing-text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #ffa, 0 0 8px #ff6, 0 0 10px;
    /* メッセージ表示ブロック */
    --message-text-bgcolor: transparent;
    --message-text-color: unset;
    --message-text-shadow: none;
    --message-text-border-radius: 0px;
    --message-text-em-color: steelblue;
    /* コードブロック */
    --code-bgcolor: #1c1b1b;
    --code-color: #fff;
    --code-border: 1.5px solid #4e5575;
    --code-border-radius: 10px;
    --code-box-shadow: 0 0 10px 2px #14162b55;
    --inline-code-bgcolor: lightblue;
    --inline-code-color: unset;
    /* プロンプト入力ブロック */
    --chat-input-bgcolor: #fff;
    --chat-input-textarea-bgcolor: white;
    --chat-input-textarea-color: unset;
    --chat-input-textarea-border: 1px solid #ccc;
    --chat-input-textarea-border-radius: 1rem;
    --chat-input-textarea-focus-outline: 2px solid #555;
    --chat-input-button-bgimage: linear-gradient(to bottom, #007bff, #0056b3);
    --chat-input-button-color: white;
    --chat-input-button-disabled-bgimage: linear-gradient(to bottom, silver, gray);
    /* 各種ボタン */
    --tool-button-bgcolor: #f0f0f0;
    --tool-button-color: #333;
    --tool-button-border: 1px solid #ccc;
    --tool-button-hover-bgcolor: #e0e0e0;
    --tool-button-hover-color: #000;
    /* コンテキストメニュー */
    --contextmenu-bgcolor: whitesmoke;
    --contextmenu-color: unset;
    --contextmenu-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    --contextmenu-button-bgcolor: transparent;
    --contextmenu-button-color: unset;
    --contextmenu-button-hover-bgcolor: #cee;
    /* モーダルダイアログ */
    --modal-bgcolor: #fefefe;
    --modal-color: unset;
    --modal-border: 1px solid #888;
    /* トースト */
    --toast-bgcolor: rgba(0, 0, 0, 0.8);
    --toast-color: white;
    --code-toast-bgcolor: #333;
    --code-toast-color: silver;
    /* フッタ部 */
    --footer-bgcolor: #fff;
    --footer-color: silver;

    /****************************************
     * dark mode
     ****************************************/
    /* ボディ */
    --dark-body-bgcolor: #181a1b;
    /* コンテナ */
    --dark-container-bgcolor: transparent;
    --dark-background-image: none;
    --dark-background-image-opacity: 1.0;
    /* ヘッダ部 */
    --dark-header-bgcolor: #202224;
    --dark-header-color: #c0c0c0;
    /* コンテンツブロック */
    --dark-chat-messages-bgcolor: #23262b;
    --dark-chat-messages-color: #eaeaea;
    /* WelCome */
    --dark-welcome-title-color: unset;
    --dark-welcome-message-color: dimgray;
    /* キャラ名 */
    --dark-speaker-name-text-shadow: 0 0 2px #71d4f7, 0 0 10px #00eaff77, 0 0 18px #00ffd044, 0 0 26px #0092c633;
    --dark-speaker-name-glowing-text-shadow: 0 0 4px #71d4f7, 0 0 10px #00eaff, 0 0 18px #00ffd0, 0 0 26px #0092c6;
    /* メッセージ表示ブロック */
    --dark-message-text-bgcolor: unset;
    --dark-message-text-color: unset;
    --dark-message-text-shadow: none;
    --dark-message-text-border-radius: unset;
    --dark-message-text-em-color: #64abe5;
    /* コードブロック */
    --dark-code-bgcolor: #232946;
    --dark-code-color: #f5f7ff;
    --dark-code-border: 1.5px solid #4e5575;
    --dark-code-border-radius: 10px;
    --dark-code-box-shadow: 0 0 10px 2px #14162b55;
    --dark-inline-code-bgcolor: #1b2b44;
    --dark-inline-code-color: #9de0ff;
    /* プロンプト入力ブロック */
    --dark-chat-input-bgcolor: #222;
    --dark-chat-input-textarea-bgcolor: #2a2c31;
    --dark-chat-input-textarea-color: #eaeaea;
    --dark-chat-input-textarea-border: 1px solid #444;
    --dark-chat-input-textarea-border-radius: 1rem;
    --dark-chat-input-textarea-focus-outline: 2px solid #555;
    --dark-chat-input-button-bgimage: linear-gradient(to bottom, #2c61b6, #114281);
    --dark-chat-input-button-color: white;
    --dark-chat-input-button-disabled-bgimage: linear-gradient(to bottom, #444, #222);
    /* 各種ボタン */
    --dark-tool-button-bgcolor: #25272c;
    --dark-tool-button-color: #eaeaea;
    --dark-tool-button-border: 1px solid #444;
    --dark-tool-button-hover-bgcolor: #333;
    --dark-tool-button-hover-color: #fff;
    /* コンテキストメニュー */
    --dark-contextmenu-bgcolor: #23262b;
    --dark-contextmenu-color: #eaeaea;
    --dark-contextmenu-box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    --dark-contextmenu-button-bgcolor: unset;
    --dark-contextmenu-button-color: #eaeaea;
    --dark-contextmenu-button-hover-bgcolor: #666;
    /* モーダルダイアログ */
    --dark-modal-bgcolor: #444;
    --dark-modal-color: #eee;
    --dark-modal-border: 1px solid #666;
    /* トースト */
    --dark-toast-bgcolor: rgba(255,255, 255, 0.8);
    --dark-toast-color: black;
    --drak-code-toast-bgcolor: silver;
    --dark-code-toast-color: #333;
    /* フッタ部 */
    --dark-footer-bgcolor: #202224;
    --dark-footer-color: #c0c0c0;
}
body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-spacing-trim: space-all;
}
body {
    display: none;
    background-color: var(--body-bgcolor);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 10px;
    background-color: var(--header-bgcolor);
    color: var(--header-color);
}
.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* コマンドを横並びにする */
}
.header nav ul li {
    margin-right: 10px; /* コマンド間の隙間 */
}
.header button {
    background-color: var(--tool-button-bgcolor);
    color: var(--tool-button-color);
    border: var(--tool-button-border);
    padding: 5px 15px; /* パディングを少し小さくする */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9rem; /* フォントサイズを少し小さくする */
    border-radius: 3px; /* 角の丸みを控えめにする */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* 背景色とテキスト色の変化を滑らかにする */
}
.header button.emoji {
    font-size: 0.8rem;
}
.header button:hover {
    background-color: var(--tool-button-hover-bgcolor);
    color: var(--tool-button-hover-color);
}
.message-delete-btn, .chat-reanswer-btn, .message-copy-btn {
    background-color: var(--tool-button-bgcolor);
    color: var(--tool-button-color);
    border: var(--tool-button-border);
    padding: 5px 5px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7rem;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 1s, box-shadow 1s;
    width: 1.75rem;
    height: 1.75rem;
    line-height: 1rem;
}
.message-delete-btn:hover, .chat-reanswer-btn:hover, .message-copy-btn:hover {
    opacity: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--container-bgcolor);
}
.chat-container::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    opacity: var(--background-image-opacity);
    z-index: -1;
}
.chat-messages {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem;
    background-color: var(--chat-messages-bgcolor);
    color: var(--chat-messages-color);
}
.chat-message {
    margin-bottom: 0.25rem;
    padding-bottom: 0.25rem;
}
.speaker-name {
    font-size: 1rem;
    font-weight: bold;
    padding-left: 0.5rem;
    color: #007bff;
    display: flex;
    align-items: center;
    text-shadow: var(--speaker-name-text-shadow);
}
.message-text {
    margin-top: 0.25rem;
    padding: 0.5rem;
    line-height: 1.75rem;
    font-size: 1rem;
    overflow-wrap: break-word;
    background-color: var(--message-text-bgcolor);
    color: var(--message-text-color);
    border-radius: var(--message-text-border-radius);
    text-shadow: var(--message-text-shadow);
}
.message-text p {
    padding: 0;
    margin: 0 0 0.5rem 0;
}
.message-text pre {
    background-color: var(--code-bgcolor);
    color: var(--code-color);
    border: var(--code-border);
    border-radius: var(--code-border-radius);
    box-shadow: var(--code-box-shadow);
    padding: 1.2rem 1.6rem;
    font-size: 1rem;
    overflow-x: auto;
}
.message-text pre code {
    line-height: 125%;
    font-family: "Fira Mono", "Menlo", "Consolas", monospace;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    display: block;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    box-shadow: none;
    text-shadow: none;
}
.message-text code:not(pre > code) {
    background-color: var(--inline-code-bgcolor);
    color: var(--inline-code-color);
    padding: 0.3rem;
    margin: 0.3rem;
    text-shadow: none;
}
.message-text em {
    color: var(--message-text-em-color);
}
.chat-input {
    width: 100%;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--chat-input-bgcolor);
    box-sizing: border-box; /* パディングを含めた幅を100%に */
}
.chat-input textarea {
    font-size: inherit;
    font-family: inherit;
    flex: 1;
    padding: 1rem;
    margin-right: 0.5rem;
    border: var(--chat-input-textarea-border);
    border-radius: var(--chat-input-textarea-border-radius);
    resize: none; /* リサイズ無効 */
    height: 3rem; /* 高さの初期値、必要に応じて */
    max-height: 30rem; /* 最大高さを設定 */
    overflow-y: auto; /* 内容が多い場合にスクロールバーを表示 */
    background-color: var(--chat-input-textarea-bgcolor);
    color: var(--chat-input-textarea-color);
}
.chat-input textarea:focus {
    outline: var(--chat-input-textarea-focus-outline);
}
.chat-input button {
    width: 6rem;
    font-size: 1rem;
    padding: 10px 20px;
    background-image: var(--chat-input-button-bgimage);
    color: var(--chat-input-button-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}
.chat-input button.submit-button-disabled {
    background-image: var(--chat-input-button-disabled-bgimage);
}
.chat-input button:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    transform: scale(1.05);
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footer-bgcolor);
    box-sizing: border-box;
    color: var(--footer-color);
    font-size: 12px;
    padding-bottom: 2px;
}
@keyframes glowing {
    0%, 100% { 
        opacity: 0.2;
        text-shadow: none;
    }
    50% { 
        opacity: 1;
        text-shadow: var(--speaker-name-glowing-text-shadow);
    }
}
.flowing-text {
    animation: glowing 3s linear infinite;
    color: #fff; /* 文字の色を設定 */
}
mark {
    scroll-margin-top: 20px;
}
.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.welcome-title {
    display: blcok;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--welcome-title-color);
}
.welcome-message {
    display: block;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    font-size: 0.8rem;
    color: var(--welcome-message-color);
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    max-width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 150%;
    right: 0;
    transform: translateY(-50%);
    white-space: nowrap;
    opacity: 0; /* 初期状態で透明にする */
    transition: opacity 0.5s ease, visibility 0s ease 0.5s; /* アニメーションを設定 */
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1; /* ホバー時に不透明にする */
    transition-delay: 2.0s;
}
.welcome-chat-icon {
    width: 5.0rem;
    height: 5.0rem;
}
.chat-icon {
    margin-right: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
}
pre {
    position: relative;
    padding: 0%;
    background-color: #f6f8fa;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.copy-button {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.copy-button i {
    color: silver;
    font-size: 1rem;
}
.copy-button:hover i {
    color: White;
}
.code-toast {
    visibility: hidden;
    min-width: 100px;
    background-color: var(--code-toast-bgcolor);
    color: var(--code-toast-color);
    text-align: center;
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    right: 110%; /* ボタンの左側に表示 */
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
    z-index: 1;
}
.code-toast.show {
    visibility: visible;
    opacity: 1;
}

/* コンテキストメニュー */
.contextmenu {
    position: absolute;
    background-color: var(--contextmenu-bgcolor);
    color: var(--contextmenu-color);
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    box-shadow: var(--contextmenu-box-shadow);
    z-index: 1000;
}
.contextmenu button {
    border: none;
    background-color: var(--contextmenu-button-bgcolor);
    color: var(--contextmenu-button-color);
    padding: 8px 16px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    white-space: nowrap;
}
.contextmenu button:hover {
    background-color: var(--contextmenu-button-hover-bgcolor);
}

/* トースト */
.toast {
    position: fixed;
    background-color: var(--toast-bgcolor);
    color: var(--toast-color);
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 1000;
    opacity: 0;
    animation: toastFade 2s ease;
}
@keyframes toastFade {
    0% { opacity: 0; }
    15% { opacity: 1; }
    85% { opacity: 1; }
    100% { opacity: 0; }
}

/* モーダル背景 */
.modal-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* 進捗モーダル */
.modal-content {
    background-color: var(--modal-bgcolor);
    color: var(--modal-color);
    margin: 15% auto;
    padding: 20px;
    border: var(--modal-border);
    width: 80%;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
    animation-name: modalOpen;
    animation-duration: 0.4s;
}
@keyframes modalOpen {
    from { transform: scale(0.7); }
    to { transform: scale(1); }
}
.loader {
    border: 8px solid #f3f3f3; /* ライトグレーの外側 */
    border-top: 8px solid #3498db; /* 青色のトップ */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* 要約モーダル */
.summary-modal-content {
    background-color: var(--modal-bgcolor);
    color: var(--modal-color);
    margin: 10% auto;
    padding: 0px;
    overflow-y: auto; /* 内容が大きいときにスクロールバーを表示 */
    border: var(--modal-border);
    width: 80%;
    max-height: 70vh; /* モーダルウィンドウの最大高さを指定 */
}
.summary-modal-header {
    position: sticky;
    top: 0;
    z-index: 10; /* 表示優先度を高める */
}
.summary-modal-body {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}
.summary-modal-body pre {
    white-space: pre-wrap;       /* 折り返しを有効に */
    word-wrap: break-word;       /* 長い単語も折り返し */
    overflow-x: auto;            /* 必要な場合のみ横スクロール */
    padding: 1rem;
}
.summary-modal-body code {
    white-space: pre-wrap;       /* コード内も同様に */
    word-wrap: break-word;
    padding: 0.3rem;
}
.summary-modal-header .close {
    position: absolute;
    top: 0;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}
.summary-modal-header .close:hover,
.summary-modal-header .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
